{% extends "base.html" %}
{% load static %}

{% block title %}
    Growing
{% endblock %}

{% block content %}
<div class="container">
    <h2>My Growing Projects</h2>
    <div class="grid grid-2">
        <a href="{% url 'succulents' %}" class="card-link">
            <div class="card">
                <picture>
                    <source srcset="{% static 'images/general/succulent.webp' %}" type="image/webp">
                    <source srcset="{% static 'images/general/succulent.jpeg' %}" type="image/jpeg">
                    <img src="{% static 'images/general/succulent.webp' %}" alt="Succulents" width="250" height="250">
                </picture>
                <h3>View my succulent collection</h3>
            </div>
        </a>
        <a href="{% url 'trees' %}" class="card-link">
            <div class="card">
                <picture>
                    <source srcset="{% static 'images/general/tree.webp' %}" type="image/webp">
                    <source srcset="{% static 'images/general/tree.jpeg' %}" type="image/jpeg">
                    <img src="{% static 'images/general/tree.webp' %}" alt="Succulents" width="250" height="250">
                </picture>
                <h3>View my tree collection</h3>
            </div>
        </a>
    </div>
</div>
{% endblock %}
