{% extends "base.html" %}
{% load static %}
{% block content %}

<main role="main">
    <div class="wide-card">
        <h2>My Learning Journey and This Website</h2>

        <h3>The Spark: Early 2024</h3>
        <p>In early 2024, while job hunting, I decided it was time for a change. Conversations with my wife and friends led me to pursue new learning opportunities. As a presales engineer specializing in Microsoft 365 with experience in Azure and AWS, I was drawn to the hot fields of Security and AI.</p>

        <h3>Choosing the Path: AI/ML Program</h3>
        <p>After exploring various options, I chose the <a href="https://www.mygreatlearning.com/pg-program-online-artificial-intelligence-machine-learning" target="_blank" rel="noopener noreferrer">Great Learning's PG-AI/ML Class</a>. This seven-month program offered a comprehensive overview of AI/ML topics, backed by UT Austin's reputation. The journey began with learning Python, which I found surprisingly accessible and powerful compared to my college experience with C++ and Java.</p>

        <h3>From AI/ML to Web Development</h3>
        <p>Inspired by Python, I decided to explore web application development. This decision was the catalyst for this entire project. I wanted to create a platform to showcase my future applications, leading me to dive into web technologies:</p>
        <ul>
            <li>Learned HTML, CSS, and JavaScript basics through The Odin Project</li>
            <li>Explored hosting options, starting with a Raspberry Pi 5 at home</li>
            <li>Transitioned to AWS free tier for cloud hosting</li>
            <li>Chose Django for its Python base, reusability, automation, and simplicity</li>
            <li>Implemented Gunicorn and Nginx for a robust foundation</li>
        </ul>

        <h3>The Learning Process</h3>
        <p>Throughout this journey, I've embraced various learning methods:</p>
        <ul>
            <li>Heavily utilized GenAI for coding assistance and decision-making guidance</li>
            <li>Focused on security best practices</li>
            <li>Explored cloud technologies, particularly AWS</li>
        </ul>

        <h3>The Road Ahead</h3>
        <p>My learning journey is far from over. Next steps include:</p>
        <ul>
            <li>Learning Ansible and Terraform for system management</li>
            <li>Making my infrastructure cloud-agnostic</li>
            <li>Continuing to develop and host web applications</li>
        </ul>

        <p>This website is a testament to my journey - from a desire to develop Python web applications to implementing a full-stack solution. It's been an incredible experience, and I'm excited for what's to come!</p>
    </div>
</main>

{% endblock %}
