{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <!-- Introductory Text -->
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <p>I like the idea of functional as well as aesthetic trees and plants.</p>

    <div class="grid grid-3">
        <!-- Meyer Lemon Tree -->
        <div class="card">
            <picture>
                <a href="{% url 'growing_trees_meyer_lemon' %}" class="card-link" rel="noopener noreferrer">
                    <source srcset="{% static 'images/trees/meyer-lemon.webp' %}" type="image/webp">
                    <source srcset="{% static 'images/trees/meyer-lemon.jpg' %}" type="image/jpg">
                    <img src="{% static 'images/trees/meyer-lemon.jpg' %}" alt="Meyer Lemon Tree" width="350" height="250">
                </a>
            </picture>
            <h3>Meyer Lemon Tree</h3>
        </div>

        <!-- Avocado Tree -->
        <div class="card">
            <picture>
                <a href="{% url 'growing_trees_avocado' %}" class="card-link" rel="noopener noreferrer">
                    <source srcset="{% static 'images/trees/avocado.webp' %}" type="image/webp">
                    <source srcset="{% static 'images/trees/avocado.jpg' %}" type="image/jpg">
                    <img src="{% static 'images/trees/avocado.jpg' %}" alt="Avocado Tree" width="350" height="250">
                </a>
            </picture>
            <h3>Avocado Tree</h3>
        </div>

        <!-- Fig Tree -->
        <div class="card">
            <picture>
                <a href="{% url 'growing_trees_fig' %}" class="card-link" rel="noopener noreferrer">
                    <source srcset="{% static 'images/trees/fig.webp' %}" type="image/webp">
                    <source srcset="{% static 'images/trees/fig.jpg' %}" type="image/jpg">
                    <img src="{% static 'images/trees/fig.jpg' %}" alt="Fig Tree" width="350" height="250">
                </a>
            </picture>
            <h3>Fig Tree</h3>
        </div>

        <!-- Pomegranate Tree -->
        <div class="card">
            <picture>
                <a href="{% url 'growing_trees_pomegranate' %}" class="card-link" rel="noopener noreferrer">
                    <source srcset="{% static 'images/trees/pomegranate.webp' %}" type="image/webp">
                    <source srcset="{% static 'images/trees/pomegranate.jpg' %}" type="image/jpg">
                    <img src="{% static 'images/trees/pomegranate.jpg' %}" alt="Pomegranate Tree" width="350" height="250">
                </a>
            </picture>
            <h3>Pomegranate Tree</h3>
        </div>
    </div>
</div>
{% endblock %}
