{% extends "base.html" %}
{% load static %}
{% block title %}PGP-AIML Projects Overview{% endblock %}
{% block content %}

<div class="container">
    <div class="wide-card">
        <h2>PGP-AIML: My Project Journey</h2>
        <p>Throughout the PGP-AIML program, I've completed several projects that have allowed me to apply my learning to real-world scenarios. Here's an overview of my project experiences and key takeaways.</p>
    </div>

    <div class="course-grid grid-4">
        <a href="{% url 'project1' %}" class="card">
            <h3>Python Foundations</h3>
            <p>Demonstration of Python programming for data science and Exploratory Data Analysis (EDA) expertise.</p>
        </a>
        <a href="{% url 'project2' %}" class="card">
            <h3>Machine Learning</h3>
            <p>Built my first machine learning model to help a bank marketing department identify potential loan customers.</p>
        </a>
        <a href="{% url 'project3' %}" class="card">
            <h3>Advanced Machine Learning</h3>
            <p>Built multiple advanced machine learning models to classify activities that would keep a customer from giving up their credit card.</p>
        </a>
        <a href="{% url 'project4' %}" class="card">
            <h3>Neural Network Optimization</h3>
            <p>Built multiple Neural Network models to predict customer churn for a bank.</p>
        </a>
    </div>

    <div class="course-grid grid-2">
        <a href="{% url 'project5' %}" class="card">
            <h3>Plant Seedling Classification using Convolutional Neural Networks (CNN)</h3>
            <p>Developed an advanced image classification system to identify plant seedlings across 12 different species using deep learning techniques, including basic CNNs and transfer learning with VGG16.</p>
        </a>
        <a href="{% url 'project6' %}" class="card">
            <h3>Stock Market News Sentiment Analysis and Summarization</h3>
            <p>Developed an AI-driven sentiment analysis system that will automatically process and analyze news articles to gauge market sentiment, and summarize the news at a weekly level.</p>
        </a>
    </div>

    <div class="wide-card">
        <h3>Reflections and Future Directions</h3>
        <p>These projects have been instrumental in solidifying my understanding of AI and ML concepts. They've provided hands-on experience in tackling real-world problems, from data preprocessing to model deployment. Moving forward, I'm excited to delve deeper into advanced topics like reinforcement learning and generative AI, and to apply these skills to more complex, real-world challenges.</p>
    </div>
</div>

{% endblock %}
