{% extends "base.html" %} 

{% block title %}
    Artificial Intelligence and Machine Learning
{% endblock %}

{% block content %}
    <div class="container">
        <section class="grid">
            <div class="card learning-card">
                <h2>My AI & ML Journey: UT Austin Postgrad Program</h2>
                <p>Program Highlights:</p>
                <ul>
                    <li>7-month intensive course in Machine Learning and Artificial Intelligence</li>
                    <li>Collaboration between University of Texas at Austin and Great Learning</li>
                    <li>Comprehensive curriculum blending theory and practical application</li>
                </ul>
                <p>Weekly Learning Structure:</p>
                <ol>
                    <li>Interactive Live sessions</li>
                    <li>Rigorous tests and exercises</li>
                    <li>Dive into hands-on problem-solving with real-time expert guidance. Explore my project outcomes below.</li>
                </ol>
                <p>Each subject we complete (roughly monthly) we have a project to complete to demonstrate our understanding of the subject. It is the major part of our grade.</p>
            </div>
        </section>

        <section class="grid grid-5">
            <div class="card">
                <a href="{% url 'project1' %}" rel="noopener noreferrer">
                    <h3>Project 1</h3>
                    <p>Python and EDA "Exploratory Data Analysis</p>
                    <button>View Project</button>
                </a>
            </div>

            <div class="card">
                <a href="{% url 'project2' %}" rel="noopener noreferrer">
                    <h3>Project 2</h3>
                    <p>Machine Learning - Decision Tree</p>
                    <button>View Project</button>
                </a>
            </div>

            <div class="card">
                <a href="{% url 'project3' %}" rel="noopener noreferrer">
                    <h3>Project 3</h3>
                    <p>Upcoming</p>
                    <button>View Project</button>
                </a>
            </div>

            <div class="card">
                <a href="{% url 'project4' %}" rel="noopener noreferrer">
                    <h3>Project 4</h3>
                    <p>Upcoming</p>
                    <button>View Project</button>
                </a>
            </div>

            <div class="card">
                <a href="{% url 'project5' %}" rel="noopener noreferrer">
                    <h3>Project 5</h3>
                    <p>Upcoming</p>
                    <button>View Project</button>
                </a>
            </div>
            <!-- Add more project cards as needed -->
        </section>
    </div>
{% endblock %}
