{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chris Chesley{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Chris Chesley</h1>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                {% comment %} <li><a href="{% url 'projects' %}">Projects</a></li> {% endcomment %}
                <li><a href="{% url 'learning' %}">Learning</a></li>
                <li><a href="{% url 'growing' %}">Growing</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content from other templates will be inserted here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Chris Chesley. All rights reserved.</p>
    </footer>
</body>
</html>