{% extends "base.html" %}
{% load static %}
{% block content %}

<main role="main">
    <div class="container">
        <div class="wide-card">
            <h2>Why This Journey?</h2>
            <p>In early 2024, I found myself at a crossroads. With time on my hands and a desire for growth, I embarked on a journey of learning and self-improvement. It all started with a conversation with my wife and some good friends...</p>
            <p><a href="{% url 'about_why' %}">Read my full story</a></p>
        </div>

        <div class="wide-card">
            <h2>Current Projects - January 3,2025</h2>
            <ul>
                <li>I am continuing to work on the backend of my website.  Specifically configuring AWS SES and backend security.</li>
                <li>My next big project will be to setup some local LLMs on a new Mac Mini. More to come on this when I get the hardware.</li>
                <li>I am working on my Azure AI-900 exam now as my next certification. I have also started Kaggle to continue learning ML/AI. I will add Kaggle to my learning section soon.</li>
            </ul>
        </div>

        <div id="Projects" class="section">
            <h2>Projects</h2>
            <div class="grid">
                <div class="card">
                    <a href="{% url 'learning' %}" class="card-link" rel="noopener noreferrer">
                        <picture>
                            <source srcset="{% static 'images/general/Learning.webp' %}" type="image/webp">
                            <source srcset="{% static 'images/general/Learning.jpg' %}" type="image/jpeg">
                            <img src="{% static 'images/general/Learning.jpg' %}" alt="Learning" width="150" height="150">
                        </picture>
                        <h3>Learning</h3>
                    </a>
                </div>
                <div class="card">
                    <a href="{% url 'technology' %}" class="card-link" rel="noopener noreferrer">
                        <picture>
                            <source srcset="{% static 'images/general/Technology.webp' %}" type="image/webp">
                            <source srcset="{% static 'images/general/Technology.jpg' %}" type="image/jpeg">
                            <img src="{% static 'images/general/Technology.jpg' %}" alt="Technology" width="150" height="150">
                        </picture>
                        <h3>Technology</h3>
                    </a>
                </div>
                <div class="card">
                    <a href="{% url 'growing' %}" class="card-link" rel="noopener noreferrer">
                        <picture>
                            <source srcset="{% static 'images/general/Growing.webp' %}" type="image/webp">
                            <source srcset="{% static 'images/general/Growing.jpg' %}" type="image/jpeg">
                            <img src="{% static 'images/general/Growing.jpg' %}" alt="Growing" width="150" height="150">
                        </picture>
                        <h3>Growing</h3>
                    </a>
                </div>
            </div>
        </div>

        <section id="contact">
            <h2>Contact</h2>
            <p>Get in touch via email: <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a></p>
        </section>
    </div>
</main>

{% endblock %}
