{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <section class="wide-card">
            <h2>What I am working on, Sept 1, 2024</h2>
            <p>I broke my Github Actions workflow by deleting the wrong AWS IAM user. I am fixing that now.</p>
            <p>I am having some good friends review the structure of this website and offer suggestions for improvement.</p>
            <p>I am loving the PG -AI/ML Class! We are just finishing up Neural Networks and I am starting on that project.</p>
        </section>

        <section id="Projects" class="section">
            <h2>Projects</h2>
            <div class="grid grid-5">
                <div class="card">
                    <a href="{% url 'learning'%}" rel="noopener noreferrer" class="card-link">
                        <img src="{% static 'images/Learning.jpeg' %}" alt="Learning" width="150" height="150">
                        <p>Learning</p>
                    </a>
                </div>
                <div class="card">
                    <a href="{% url 'technology' %}" rel="noopener noreferrer" class="card-link">
                    <img src="{% static 'images/Technology.jpg' %}" alt="Learning" width="150" height="150">
                    <p>Technology</p>
                </div>
                <div class="card">
                    <a href="{% url 'growing' %}" rel="noopener noreferrer" class="card-link">
                        <img src="{% static 'images/Growing.jpeg' %}" alt="Growing" width="150" height="150">
                        <p>Growing</p>
                    </a>
                </div>
            </div>
        </section>
        <section id="contact">
            <h2>Contact</h2>
            <p>Get in touch via email: <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a></p>
        </section>
    </div>
</main>
{% endblock %}
